.right-bar {
    right: 0;
    top: 0;
}

.right-bar > * {
    margin: 10px;
}

.head {
    text-align: center;
    font-size: 1.3rem;
}

.signature {
    font-size: 0.8em;
}

.signature h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.signature a:hover {
    color: white;
}